<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>
  
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 class="text-info">Basic Blog Study</h1>
            <span class="subheading text-info">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <h2 class="text-info">Lorem Ipsum</h2>
          <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, molestias?</p>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <%- include('partials/_footer') -%>

</body>

</html>
